.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2em;
  position: relative;
  max-width: 1440px;
  padding-left: 5%;
  padding-right: 5%;

  img {
    z-index: -1;
    object-fit: cover;
    border-radius: 10px;
  }

  .overlay {
    width: 90%;
    border-radius: 10px;
    background: black;
    position: absolute;
    color: white;
  }

  .ban_text {
    font-family: "Montserrat";
    font-weight: 600;
    color: white;
    position: absolute;
    left: 10px;
  }

  // --------------------
  // Variante A - mobile
  &.banner--variantA {
    margin-top: 1em;
    img {
      width: 100%;
      height: 110px;
    }

    .overlay {
      height: 110px;
      opacity: 0.3;
    }

    .ban_text {
      width: 52%;
      font-size: 20px;
    }
  }

  // --------------------
  // Variante B - mobile
  &.banner--variantB {
     margin-top: 1em;
     padding-left: 0;
     padding-right: 0;
    img {
      width: 100%;
      height: 110px;
    }

    .overlay {
      width: 100%;
      height: 110px;
      opacity: 0.6;
    }
    .ban_text{
      width: 225px;
      margin-left: 10px;
    }

  }
}

// --------------------
// Responsive desktop styles (appliqués à chaque variante)
/*** Tablette : à partir de 768px **/
@media (min-width: 768px){
  .banner{
    &.banner--variantA {
      img{
        height: 150px;
      }
      .overlay{
        height: 150px;
      }
    }
  }

}

/* Desktop : à partir de 1024px */
@media (min-width: 1024px) {

}