.carousel{
    display: flex;
    justify-content: space-around;
    margin-top: 1em;
    margin-bottom: 1em;
    img{
        width: 90%;
        height: 200px;
        object-fit: cover;
        border-radius: 10px;
    }
    .btnleft{
        position: absolute;
        margin-left: -80%;
        margin-top: 20%;
        color: white;
        text-shadow: 0 1px 3px rgba(0, 0, 0, 0.8);
        font-size: 40px;
        border: none;
        background: transparent;
    }
    .btnright{
        position: absolute;
        margin-left: 80%;
        margin-top: 20%;
        color: white;
        text-shadow: 0 1px 3px rgba(0, 0, 0, 0.8);
        font-size: 40px;
        border: none;
        background: transparent;
    }
}

@media (min-width: 768px) and (max-width: 1025px){
    .carousel{
        img{
            height: 30vh;
        }
        .btnleft{
            margin-top: 2em;
            margin-left: -11em;
            font-size: 75px;
        }
        .btnright{
            margin-top: 2em;
            margin-left: 11em;
            font-size: 75px;
        }
    }
}