.content{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
    .collapse_panel{
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 90%;
        margin-left: 20px;
        cursor: pointer;
        .collapse__header{
            display: flex;
            justify-content: space-between;
            border-radius: 5px;
            height: 30px;
            background-color: #FF6060;
            align-content: center;
            padding-left: 10px;
            flex-wrap: wrap;
            color: white;
            font-family: "Montserrat";
            font-weight: 500;
            z-index: 10;
            position: relative;
            .fa-chevron-down{
                color: white;
                font-size: 22px;
                z-index: 10;
                cursor: pointer;
                width: 50px;
            }
            .fa-chevron-up{
                color: white;
                font-size: 22px;
                z-index: 10;
                cursor: pointer;
                width: 50px;
            }
        }
        .collapse__content{
            font-family: "Montserrat";
            z-index: -1;
            position: relative;
            font-size: 12px;
            animation: slide-in 0.8s ease-in-out;
            background-color: #d9d7d79c;
            border-radius: 5px;
            padding: 11px;
            ul{
                list-style: none;       
                padding-left: 0;        
                margin: 0;
            }
        }
    }
}

@media (min-width: 768px){
    .content{
        align-items: center;
        padding-left: 8%;
        .collapse_panel{
            flex-direction: row;
            justify-content: space-between;
            margin-left: 0;
            .collapse__panel{
                width: 90%;
            }
        }
    }
}