main{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    .error{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 50px;
        margin-top: 50px;
        h1{
            font-family: "Montserrat";
            color: #FF6060;
            font-size: 96px;
        }
        p{
            width: 58%;
            font-family: "Montserrat";
            color: #FF6060;
            text-align: center;
            font-weight: 500;
        }
    }
    a{
        font-family: "Montserrat";
        margin-top: 50px;
        margin-bottom: 100px;
        font-weight: 500;
        color: black;
    }
    
}

/*** Tablette : à partir de 768px **/
@media (min-width: 768px){
      main{
        .error{
            h1{
                font-size: 190px;
            }
            p{
                width: 100%;
                font-size: 20px;
            }
        }
        a{
            font-size: 12px;
        }
    }

}

/* Desktop : à partir de 1024px */
@media (min-width: 1024px) {

}