/*Mobile first (par défaut)*/

.loge_home{
    display: flex;
    flex-direction: column;
    max-width: 1440px;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 20px;
    .loge_content{
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-bottom: 15px;
        .loge_title{
            font-family: "Montserrat";
            color: #FF6060;
            font-weight: 500;
            font-size: 19px;
            margin-top: 10px;
        }
        .loge_p{
            font-family: "Montserrat";
            font-weight: 500;
            font-size: 12px;
        }
        .item{
            display: flex;
            gap: 10px;

            .tag-item{
                display: flex;
                justify-content: center;
                border-radius: 5px;
                font-family: "Montserrat";
                color: white;
                width: 90px;
                height: 20px;
                background-color: #FF6060;
                text-align: center;
                font-size: 8px;
                font-weight: 500;
                align-items: center;
            }
        }
    }
    
    .rating{
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
        .name{
            display: flex;
            justify-content: space-between;
            width: 100px;
            .loge_name{
                font-family: "Montserrat";
                color: #FF6060;
                font-size: 15px;
                text-align: end;
                flex-basis: min-content;
            }
            img{
                width: 30px;
                object-fit: cover;
                border-radius: 50px;
            }
        }

    }

}

/*** Tablette : à partir de 768px **/
@media (min-width: 768px){
    .loge_home{
        .loge_content{
            .loge_title{
                margin-bottom: -7px;
            }
            .item{
                margin-top: 8px;
                .tag-item{
                    border-radius: 10px;
                }
            }
        }
        .rating{
            flex-direction: column-reverse;
            align-items: end;
            margin-top: -95px;
            gap: 20px;
            .name{
                width: 80px;
                gap: 5px;
                .loge_name{
                    font-size: 12px;

                }
            }
        }
    }
}

/* Desktop : à partir de 1024px */
@media (min-width: 1024px) {

}