.loge_home{
    display: flex;
    flex-direction: column;
    .loge_content{
        display: flex;
        flex-direction: column;
        padding-left: 19px;
        gap: 5px;
        .loge_title{
            font-family: "Montserrat";
            color: #FF6060;
            font-weight: 500;
            font-size: 19px;
        }
        .loge_p{
            font-family: "Montserrat";
            font-weight: 500;
        }
    }
    .item{
        display: flex;
        gap: 10px;
        margin-bottom: 20px;
        margin-top: 20px;
        margin-left: 19px;
        .loge_items{
            display: flex;
            justify-content: center;
            border-radius: 5px;
            font-family: "Montserrat";
            color: white;
            width: 80px;
            height: 15px;
            background-color: #FF6060;
            text-align: center;
            font-size: 10px;
            align-items: center;
        }
    }
    .rating{
        display: flex;
        justify-content: space-between;
        margin-left: 19px;
        margin-bottom: 20px;
        .name{
            display: flex;
            justify-content: space-between;
            width: 37%;
            margin-right: 20px;
            .loge_name{
                font-family: "Montserrat";
                color: #FF6060;
                width: 10px;
                text-align: end;
                flex-basis: min-content;
            }
            img{
                width: 48px;
                object-fit: cover;
                border-radius: 50px;
                margin-top: -1%;
            }
        }

    }

}


@media (min-width: 768px) and (max-width: 1025px){
    .loge_home{
        .loge_content{
            padding-left: 3em;
            .loge_title{
                font-size: 1.7rem;
            }
            .loge_p{
                font-size: 1rem;
            }

        }
        .item{
            padding-left: 2em;
        }
        .rating{
            position: absolute;
            flex-direction: column-reverse;
            width: 25%;
            margin-left: 45em;
            margin-top: 27.5em;
            align-items: flex-end;
            gap: 11px;
            .star{
                display: flex;
                gap: 10px;
            }
            .name{
                display: flex;
                justify-content: space-between;
                width: 50%;
                img{
                    margin-right: 0.1em;
                }
                .loge_name{
                    font-size: 1rem;
                }
            }
        }
    }
}
